<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3" style="background:rgb(240, 224, 134)"> <!--colors just to distinguish filter section from recipes-->
        <br>
        <h1>Filters</h1>
        <h3>Diets</h3>
        <p>Vegan</p>
        <p>Vegetarian</p>
        <p>Keto</p>
        <p>Grain Free</p>
        <p>Gluten Free</p>
        <h3>Sensitivities</h3>
        <p>Contains Dairy</p>
        <p>Contains Eggs</p>
        <p>Contains Nuts</p>
        <p>Contains Soy</p>
        <p>Contains Wheat</p>
        <p>Contains Beef</p>
        <p>Contains Pork</p>
        <p>Contains Fish</p>
        <h3>Total Cook Time</h3>
        <p>Under 30 Minutes</p>
        <p>30 Minutes to 1 Hour</p>
        <p>1 to 2 Hours</p>
        <p>2 to 3 Hours</p>
        <p>3 Hours or More</p>
        <h3>Rating</h3>
        <p>1 Star</p>
        <p>2 Star</p>
        <p>3 Star</p>
        <p>4 Star</p>
        <p>5 Star</p>
      </div>
      <div class="col-9" style="background:rgb(255, 247, 201)"> <!--colors just to distinguish recipe section from filters-->
        <br>
        <h1>Recipes</h1>
        <div class="row">
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="img/Healthy_food_ingredients.jpg" alt="Food">
              <div class="card-body">
                <h5 class="card-title">Recipe Title</h5>
                <p class="card-text">Recipe Description.</p>
                <a href="#" class="btn btn-primary">Button</a> <!--if possible, remove button and have the whole card be the link-->
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="img/Healthy_food_ingredients.jpg" alt="Food">
              <div class="card-body">
                <h5 class="card-title">Recipe Title</h5>
                <p class="card-text">Recipe Description.</p>
                <a href="#" class="btn btn-primary">Button</a> <!--if possible, remove button and have the whole card be the link-->
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="img/Healthy_food_ingredients.jpg" alt="Food">
              <div class="card-body">
                <h5 class="card-title">Recipe Title</h5>
                <p class="card-text">Recipe Description.</p>
                <a href="#" class="btn btn-primary">Button</a> <!--if possible, remove button and have the whole card be the link-->
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="img/Healthy_food_ingredients.jpg" alt="Food">
              <div class="card-body">
                <h5 class="card-title">Recipe Title</h5>
                <p class="card-text">Recipe Description.</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="img/Healthy_food_ingredients.jpg" alt="Food">
              <div class="card-body">
                <h5 class="card-title">Recipe Title</h5>
                <p class="card-text">Recipe Description.</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="img/Healthy_food_ingredients.jpg" alt="Food">
              <div class="card-body">
                <h5 class="card-title">Recipe Title</h5>
                <p class="card-text">Recipe Description.</p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="img/Healthy_food_ingredients.jpg" alt="Food">
              <div class="card-body">
                <h5 class="card-title">Recipe Title</h5>
                <p class="card-text">Recipe Description.</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="img/Healthy_food_ingredients.jpg" alt="Food">
              <div class="card-body">
                <h5 class="card-title">Recipe Title</h5>
                <p class="card-text">Recipe Description.</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="img/Healthy_food_ingredients.jpg" alt="Food">
              <div class="card-body">
                <h5 class="card-title">Recipe Title</h5>
                <p class="card-text">Recipe Description.</p>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>