<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="InputEmail" class="form-label">Email Address</label>
            <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
            </div>
        </div>
        <div class="mb-3">
            <label for="UserName" class="form-label">Username</label>
            <input
                type="text"
                class="form-control"
                name="username"
                id="username"
            />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>