<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
<div class="container">
<form action="/logout" method="get">
    <h2>Logged out!</h2>
</form>

</div>
</main>



<%- include ('../partials/footer') %>