<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
    <div class="container">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../../resources/css/style.css">
        <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="profile-nav col-md-3">
                <div class="panel">
                    <div class="user-heading round">
                        <a href="#">
                            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                        </a>
                        <h1>Camila Smith</h1>
                        <p>deydey@theEmail.com</p>
                    </div>
        
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#"> <i class="button"></i> Recent Activity</a></li>
                        <li><a href="#"> <i class="button"></i> Edit profile</a></li>
                        <li><a href="#"> <i class="button"></i> Add a recipe</a></li>
                        <li><a href="#"> <i class="button"></i> Edit a recipe</a></li>
                        <li><a href="#"> <i class="button"></i> Pinned recipes</a></li>
                    </ul>
                </div>
            </div>
            <div class="profile-info col-md-9">
                <div class="panel">
                    <form>
                    </form>
                    <div class="bio-graph-heading">
                    Welcome to your profile.
                </div>
                </div>
                <div class="panel">
                    <div class="panel-body bio-graph-info">
                        <h1>My info</h1>
                        <div class="row">
                            <div class="bio-row">
                                <p><span>First Name </span>: Camila</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Last Name </span>: Smith</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Country </span>: Australia</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Birthday</span>: 13 July 1983</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Occupation </span>: UI Designer</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Email </span>: jsmith@flatlab.com</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Phone </span>: 88 (02) 123456</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p1>My recent recipes</p1>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="bio-desk">
                                    <h4 class="red">recipe</h4>
                                    <p>recipe date</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="bio-desk">
                                    <h4 class="terques">recipe</h4>
                                    <p>recipe date</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="bio-desk">
                                    <h4 class="green">recipe</h4>
                                    <p>recipe date</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="bio-desk">
                                    <h4 class="purple">recipe</h4>
                                    <p>recipe date</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
</main>

<%- include ('../partials/footer') %>