<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <form action="/register" method="post">
      <div class="col"><%- include ('../partials/message') %></div>
      <div class="mb-3">
        <h3> Register</h3>

        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input name="username" type="text" class="form-control" name="username" id="username" placeholder="Enter username">
        </div>

        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailH" placeholder="Enter email">
          </div>  


        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" name="password" id="password" placeholder="Enter password">
        </div>
        
          <div class="mb-3">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Purpose</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="I want to..." rows="3"></textarea>
          </div>
        </div>


      <form action="/login" method="post">
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</main>

<p class="text-center text-muted mt-5 mb-0">Already have an account? <a href="/login"
  class="fw-bold text-body"><u>Login here</u></a></p>


<%- include ('../partials/footer') %>
