<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <form action="/register" method="post">
      <div class="col"><%- include ('../partials/message') %></div> <!--should this be above like login?-->

      <div class="mb-3">
        <br>
        <h3> Register</h3>

        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input name="username" type="text" class="form-control" name="username" id="username" placeholder="Enter username">
        </div>

        <div class="mb-3">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailH" placeholder="Enter email">
        </div>  

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" name="password" id="password" placeholder="Enter password">
        </div>

        <form action="/login" method="post">
          <button type="submit" class="btn btn-primary">Register</button>
        </form>

      </div>
    </form>
  </div>
</main>

<p class="text-center text-muted mt-5 mb-0">Already have an account? 
  <a href="/login"> <!--same as login-->
    <u>Login</u>
  </a>
</p>


<%- include ('../partials/footer') %>